.cinemaOrder-background {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 50vw;
  background-color: rgb(28, 28, 28);
  background-size: cover;
  background-position: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: white;
}


.cinemaOrder-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.cinemaOrder-logo_text {
  font-size: 2rem;
  color: #FF6347;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2개의 열로 조정 */
  grid-gap: 20px;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.book-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}