.outmain {
    display: flex;
    padding : 20px;
    margin-left: 10px;
}

.output {
    font: 400 2vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    flex: 1;
}  

.output img {
    max-width: 80%;
    height: auto;
}

.outright {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.outbutton button {
    font: 400 2vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: #00237c; 
    color: white;
    margin-top: 50px;
    border: none; 
    height: 10vh;
    width: 25vw;
    cursor: pointer; 
    transition: background-color 0s; 
    border-radius: 10px; 
    text-decoration: none; 
    display: inline-block;
}

.outbutton button:hover{
    background-color: #001B62;  
    color: rgb(160, 160, 160);
    box-shadow: inset 0 0 20px #000000;
}