.kiosk_simulation {
    display: none;
}

#페이지설명 {
    padding-left: 10%;
    width: 80%;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
    line-height: 200%;
}

#설명배경 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #595959;
    opacity: 0.7;
    display: none;
    font-size: 20px;
    display: none;
    justify-content: center;

}

#mega_menu_bar {
    border: solid red 8px;
}

#터치 {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#설명 {
    top: 0;
    display: none;
    justify-content: center;

}
#설명 div {
    width: 360px;
    height: fit-content;
    background: #78797ae3;
    color: white;
    font: bolder 17px;
    text-align: center;
    line-height: 250%;

}
[id ^= step] {
    display: none;
}
#step1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#step2 {
    position: absolute;

    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#step3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#step4 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#step5 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#step6 {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#order_1 {
    font-size:40px;
}





/**/
body {
    width: 100%;
    height: 100%;


}

.main {
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    
}


/*할지 말지 모르겠는 홈버튼*/
.homebtn {
    height: 15vh;
}


/*타이틀 부분*/
.title {
    height: 20vh;
    text-align: center;   
    line-height: 6vh;
}

.maintitle {

    font-size: 40px;
    font-weight: bolder;

}

.subtitle {
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
}



/*버튼 부분*/
.menu {
    height: 35vh;
    width: 85vw;
    margin: 0 auto;
}

.menus {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1vh
}

#menubtn div {

    width: 20vw;
    height: 20vw;
    /* 컴퓨터에서는 .menu width: 65% 에 각각 15vw 정도가 적당함 위 값은 모바일*/
    background-size: 100% 100%;
    padding: 0;
    padding-left: 0;
    padding-right: 0;


}

.simulation {
    background-image: url(img/btn_실전연습.png);
}

.learn {
    background-image: url(img/btn_배우기.png);
}

.help {
    background-image: url(img/btn_도움말.png);
}

.mega {
    background-image: url(img/btn_메가커피.png);
}

.lotteria {
    background-image: url(img/btn_롯데리아.png);
}

.macdonalds {
    background-image: url(img/btn_맥도날드.png);
}


/*하단 정보 부분*/
.foot {
    width: 100vw;
    height: 15vh;
    background-color: #000036;
    line-height: 3vh;

}

.author {
    font-weight: bolder;
    color: #e0e0e0;
    text-align: center;
    text-decoration: none ;
}



/*메가커피 키오스크*/
.kiosk_simulation {
    display:none;
    justify-content: center;
    margin: 0;
}

.kiosk_mega_backdround { /*검정 기계 배경*/
    width: 360px;
    height: 95vh;
    background-color: black;
    border-radius: 15px;
    margin-top: 1vh;
}

.kiosc_mega_screen { /*터치스크린 배경*/
    width: 340px;
    height: 72vh;
    background-color: #F7F7F7;
    border-radius: 15px;
    margin: 11px;
    position: absolute;
}

#mega_start_img { /*처음 시작 화면*/
    width: 100%;
    height: 100%;
    background: url(img/mega_start_img.jpg) no-repeat center / cover;
    border-radius: 15px;
}

#mega_start_btn { 
    width: 100%;
    height: 100%;
    opacity: 0.0; /*불투명도 지정*/

}

#mega_order {
    display: none;
}

/*상단부분*/
#top_bar {
    background: rgb(175, 174, 174);
    width: 100%;
    height: 4vh;

    color: white;
    text-align: center;

    display: flex;
    justify-content: space-between;
}
#mega_top_bar_home {
    width: 30px;
    height: auto;
    background: url(img/mega_top_bar_home.png) no-repeat center / cover;

}
#mega_top_bar_name {
    padding-left: 20px;
}
#mega_top_bar_lang {
    width: 60px;
    height: 30px;
    background: url(img/mega_top_bar_lang.png);
}

/*메뉴바 부분*/
#mega_menu_bar  {
    background: rgb(175, 174, 174);
    color: white;
    padding-top: 7px;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-around;
    font-size: 11px;
    font-weight: bold;

}
#menu_bar_left {

 }
#menu_bar_right {

}

/*메뉴부분 4x3 */
#mega_menu_table {
    width: 100%;
    height: 60%;
    display: none;
    background: #eeeeee;
}

#row {
    display: flex;
    justify-content: space-around;
    
    width: 97%;
   
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    
}

#row div {
    width: 40%;
    height: 17vh;

}


/*페이지 넘기는 것, 테이블 밑에 바 구현*/
#nextpage {
    width: 100%;
    height: 3%;
    background: #eeeeee;
    display: none;
    justify-content: center;
    gap: 10px;
}
#first_page {
    width: 10%;
    height: 1vh;
    border-radius: 5px;
    background: #bcbcbc;
}
#second_page {
    width: 10%;
    height: 1vh;
    border-radius: 5px;
    background: #bcbcbc;
}

/*주문창*/
#pay {
    width: 100%;
    height: 26%;
    background: #eeeeee;
    display: none;
}
#order_lsit {
    width: 65%;
    height: 100%;
    background: white;
    font-size: 12px;
    flex-direction: column;
}
#order_lsit div {
    height: 15%;
    justify-content: space-between;
    flex-direction: row;
    display: inline;
    align-items: center;
}
#order_lsit div div {
    height: 65%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
}
[id ^= "delete"] {
    width: 6%;
    background: gray;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
}
[id ^= "minus"] {
    width: 6%;
    background: orange;
    border-radius: 20%;
    color: white;
    font-weight:bolder;
    font-size: 10px;
}
[id ^= "plus"] {
    width: 6%;
    background: orange;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    font-size: 10px;
}


#order_list_right {
    width: 35%;
    flex-direction: column;
}
#pay_right {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#rest_time {
    font-size: 13px;
    text-align: right;
}
#delete_all {
    width: 45px;
    height: 45px;
    background: url(img/mege_delete_all.png) no-repeat center / cover;
}
#item_number {
    width: 100%;
    height: 25%;
    font-size: 10px; 
    text-align: center;
   
}
#pay_btn {
    width: 100%;
    height: 50%;
    background: rgb(175, 174, 174);
    border-radius: 8px;
    display: flex;
    color: white;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}
#card_img {
    width: 40px;
    height: 40px;
    background: url(img/mega_card_img.png) no-repeat center / cover;
}


/*테이블 페이지 이동*/
#right_btn {
    width: 10%;
    height: 10%;
    left: 90%;
    top: 35%;
    background: #ffd600;
    position: absolute;
    font-weight: bolder;
    color: white;
    font-size: 5vh;
    text-align: center;
    line-height: 5vh;
    opacity: 0.6;
    border-radius: 8px;
    display: none;
}
#left_btn {
    width: 10%;
    height: 10%;
    top: 35%;
    background: #ffd600;
    position: absolute;
    font-weight: bolder;
    color: white;
    font-size: 5vh;
    text-align: center;
    line-height: 5vh;
    opacity: 0.6;
    border-radius: 8px;
    display: none;
}


/*카드 넣기*/
#screen_bottom {
    display: flex;
    flex-direction: row;
}

#barcode {
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: white;
    margin-top: 10%;
    font-size: 10px;
    margin-left: 5%;
}
#barcode_img{
    margin-left: 18%;
    width: 30px;
    height: 18px;
    background: url(img/barcode_img.png) no-repeat center / cover;

}
#barcode_png {
    margin-top: 4%;
    width: 90px;
    height: 54px;
    background: url(img/barcode.png) no-repeat center / cover;
}
#insert_card {
    margin-top: 3%;
    width: 50%;
    height: 25%;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
#insert_card_block {
    margin-top: 5%;
    width: 40%;
    height: 8%;
    border: solid #f5f5f5;
    border-radius: 35%;
    border-width: 3px;
    margin-left: 28%;
}
#use_card_block {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
    height: 10%;
    background: #424242;
}
#receipt {
    margin-top: 5%;
    margin-left: 25%;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
}
#receipt_exit{
    width: 50%;
    height: 20%;
    border: solid #f5f5f5;
    border-radius: 35%;
    border-width: 3px;
}
#receipt_img {
    width: 30px;
    height: 30px;
    background: url(img/receipt.png)no-repeat center / cover;
}
#insert_card_moving {
    position:relative;
    bottom: 17%;
    display: block;
    left: 60%;
    width: 30%;
    height: 20%;
    background: url(img/card_insert_moving.png) no-repeat center / cover;
}


/*결제 창 페이지*/
#screen_to_window_pay {
    
    width: 100%;
    height: 100%;
    background: #595959;
    opacity: 0.5;
    position: absolute; 
    top: 0;

}
#window_pay {
    margin-top: 15%;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 85%;
    top: 0;
    background: white;    
}
#window_top {
    background: #ef4444;
    width: 100%;
    height: 7%;
    font: bold 13px white;
    display: flex;
    justify-content: space-around;
    color: white;
}
#window_top div {
    margin-top: 3%;
}
#window_order_list {
    width: 100%;
    height: 60%;
    background: white;
    display: flex;
    flex-direction: column;
}

#window_order_list div {
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    gap: 20px;
    font-weight: bolder;
    font-size: 1.5vh;
}
#window_1 {
    margin-top: 5%;
}
#window_num_price {
    width: 90%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    border: solid #cac8c8 1px;
    margin-left: 5%;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}
#window_num {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#window_price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.ex_css {
    color: red;
    font-size: 20px;
}
#window_bottom {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    padding-top: 3%;
    color: white;
    text-align: center;
    font-weight: bolder;
}
#window_bottom div{
    border-radius: 5px;
    line-height: 160%;
}
#돌아가기 {
    width: 25%;
    height: 55%;
    background: #595959;
}
#먹고가기 {
    width: 33%;
    height: 55%;
    background: #FFC000;
}
#가져가기 {
    width: 33%;
    height: 55%;
    background: #FF0000;
}
#돌아가기_2 {
    display: none;    
    width: 23%;
    height: 55%;
    background: #595959;
    font-size: 15px;
    
}
#쿠폰사용 {
    width: 23%;
    display: none;
    height: 55%;
    background: #FFC000;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#페이코 {
    width: 23%;
    height: 55%;
    display: none;
    font-size: 15px;
    color: red;
    border: solid red 1px;
}
#카드결제 {
    width: 23%;
    height: 55%;
    display: none;
    background: #FF0000;
    font-size: 15px;

}
#w_카드결제 {
    margin-top: 15%;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 80%;
    top: 0;
    background: white;    
}
#w_카드결제_top {
    background: #ef4444;
    width: 100%;
    height: 7%;
    font: bold 15px white;
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    color: white;
}
#w_카드결제_top div {
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
}
#w_block {
    width: 90%;
    height: 35%;
    margin-left: 5%;
    margin-top: 13%;
    font-size: 13px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;

}
#w_block div {
    display: flex;
    justify-content: center;
}
#insert_card_w {
    width: 270px;
    height: 120px;
    background: url(img/insert_card_w.png) no-repeat center/cover;
}
#w_list {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-bottom: 5%;
    font-weight: bolder;
    font-size: 2vh;
}
#w_list div {
    height: 30%;
    line-height: 220%;
    display: flex;
    justify-content: space-between;

}
#w_list_1 {
    background: #DAE3F3;
    
}
#w_카드결제_total_price {
    color: #ef4444;
}
#w_bottom {
    margin-left: 10%;
    width: 80%;
    height: 15%;
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    line-height: 500%;
    font-weight: bolder;

}
#취소 {
    width: 35%;
    background: #595959;
}
#승인요청 {
    width: 55%;
    background: #ef4444;
}


/*메뉴 디스플레이 설정*/
#커피_HOT, #커피_ICE {
    display: none;
}
#추천_음료_p2 {
    display: none;
}
#스무디_프라페, #스무디_프라페_p2 {
    display: none;
}
#에이드_주스, #에이드_주스_p2 {
    display: none;
}
#Tea, #Tea_p2 {
    display: none;
}
#커피_콜드브루 {
    display: none;
}
#아이스크림 {
    display: none;
}
#Beverage, #Beverage_2p{
    display: none;
}
#디저트 {
    display: none;
}
#병음료 {
    display: none;
}
#MD상품 {
    display: none;
}
#세트상품 {
    display: none;
}

/*결제창*/
#window_pay {
    display: none;
}
#screen_to_window_pay {
    display: none;
}
#w_카드결제 {
    display: none;
}
#insert_card_moving {
    display: none;
}


.mega_menu_2 {
    display: none;
}
.mega_menu_3 {
    display: none;
}
.mega_menu_4 {
    display: none;
}



.author {
    font-size: 10px;
}
