#키오스크가처음이라면 {
    background-image: url(img/키오스크가처음이라면.png);
}
#아메리카노주문하기 {
    background-image: url(img/아메리카노주문하기.png);
}
#카페라떼주문하기 {
    background-image: url(img/카페라떼주문하기.png);
}

#메가커피사이트 {
    background-image: url(img/메가커피사이트.png);
}