/*추천 음료 부분*/
#ice_아메리카노 {
    background: url(img/mega_\(ICE\)아메리카노.jpg) no-repeat center / cover;
}
#유니콘프라페 {
    background: url(img/mega_유니콘프라페.jpg)  no-repeat center / cover;
}
#딸기쿠키프라페 {
    background: url(img/mega_딸기쿠키프라페.jpg)  no-repeat center / cover;
}
#커피프라페 {
    background: url(img/mega_커피프라페.jpg)  no-repeat center / cover;
}

#hot_토피넛마끼아또 {
    background: url(img/mega_\(HOT\)토피넛마끼아또.jpg) no-repeat center / cover;
}
#ice_토피넛마끼아또 {
    background: url(img/mega_\(ICE\)토피넛마끼아또.jpg) no-repeat center / cover;
}
#hot_레몬차 {
    background: url(img/mega_\(HOT\)레몬차.jpg) no-repeat center / cover;
}
#ice_레몬차 {
    background: url(img/mega_\(ICE\)레몬차.jpg) no-repeat center / cover;
}

#hot_사과유자차 {
    background: url(img/mega_\(HOT\)사과유자차.jpg) no-repeat center / cover;
}
#ice_사과유자차 {
    background: url(img/mega_\(ICE\)사과유자차.jpg) no-repeat center / cover;
}
#hot_허니자몽블랙티 {
    background: url(img/mega_\(HOT\)허니자몽블랙티.jpg) no-repeat center / cover;
}
#ice_허니자몽블랙티 {
    background: url(img/mega_\(ICE\)허니자몽블랙티.jpg) no-repeat center / cover;
}


#ice_흑당버블그린티라떼 {
    background: url(img/mega_\(ICE\)흑당버블그린티라떼.jpg) no-repeat center / cover;
}
#ice_흑당버블밀크티라떼 {
    background: url(img/mega_\(ICE\)흑당버블밀크티라떼.jpg) no-repeat center / cover;
}
#ice_흑당라떼 {
    background: url(img/mega_\(ICE\)흑당라떼.jpg) no-repeat center / cover;
}



/*커피_HOT 부분*/
#hot_아메리카노 {
    background: url(img/mega_\(HOT\)아메리카노.jpg) no-repeat center / cover;
}
#hot_꿀아메리카노 {
    background: url(img/mega_\(HOT\)꿀아메리카노.jpg) no-repeat center / cover;
}
#hot_헤이즐넛라떼 {
    background: url(img/mega_\(HOT\)헤이즐넛라떼.jpg) no-repeat center / cover;
}
#hot_바닐라아메리카노 {
    background: url(img/mega_\(HOT\)바닐라아메리카노.jpg) no-repeat center / cover;
}
#hot_카페라떼 {
    background: url(img/mega_\(HOT\)카페라떼.jpg) no-repeat center / cover;
}
#hot_카푸치노 {
    background: url(img/mega_\(HOT\)카푸치노.jpg) no-repeat center / cover;
}
#hot_연유라뗴 {
    background: url(img/mega_\(HOT\)연유라떼.jpg) no-repeat center / cover;
}
#hot_티라미수라떼 {
    background: url(img/mega_\(HOT\)티라미수라떼.jpg) no-repeat center / cover;
}
#hot_캬라멜마끼아또 {
    background: url(img/mega_\(HOT\)캬라멜마끼아또.jpg) no-repeat center / cover;
}
#hot_바닐라라떼 {
    background: url(img/mega_\(HOT\)바닐라라떼.jpg) no-repeat center / cover;
}
#hot_헤이즐넛아메리카노 {
    background: url(img/mega_\(HOT\)헤이즐넛아메리카노.jpg) no-repeat center / cover;
}
#hot_카메모카 {
    background: url(img/mega_\(HOT\)카페모카.jpg) no-repeat center / cover;
}




/*커피_ICE 부분*/
#ice_아메리카노 {
    background: url(img/mega_\(ICE\)아메리카노.jpg) no-repeat center / cover;
}
#ice_꿀아메리카노 {
    background: url(img/mega_\(ICE\)꿀아메리카노.jpg) no-repeat center / cover;
}
#ice_헤이즐넛아메리카노 {
    background: url(img/mega_\(ICE\)헤이즐넛아메리카노.jpg) no-repeat center / cover;
}
#ice_바닐라아메리카노 {
    background: url(img/mega_\(ICE\)바닐라아메리카노.jpg) no-repeat center / cover;
}
#ice_카페라떼 {
    background: url(img/mega_\(ICE\)카페라떼.jpg) no-repeat center / cover;
}
#ice_바닐라라떼 {
    background: url(img/mega_\(ICE\)바닐라라떼.jpg) no-repeat center / cover;
}
#ice_큐브라떼 {
    background: url(img/mega_\(ICE\)큐브라떼.jpg) no-repeat center / cover;
}
#ice_티라미수라떼 {
    background: url(img/mega_\(ICE\)티라미수라떼.jpg) no-repeat center / cover;
}
#ice_캬라멜마끼아또 {
    background: url(img/mega_\(ICE\)캬라멜마끼아또.jpg) no-repeat center / cover;
}
#ice_카푸치노 {
    background: url(img/mega_\(ICE\)카푸치노.jpg) no-repeat center / cover;
}
#ice_헤이즐넛라떼 {
    background: url(img/mega_\(ICE\)헤이즐넛라떼.jpg) no-repeat center / cover;
}
#ice_카메모카 {
    background: url(img/mega_\(ICE\)카페모카.jpg) no-repeat center / cover;
}


/*스무디_프라페*/
#쿠키프라페 {
    background: url(img/mega_쿠키프라페.jpg) no-repeat center / cover;
}
#민트프라페 {
    background: url(img/mega_민트프라페.jpg) no-repeat center / cover;
}
#리얼초코프라페 {
    background: url(img/mega_리얼초코프라페.jpg) no-repeat center / cover;
}

#녹차프라페 {
    background: url(img/mega_녹차프라페.jpg) no-repeat center / cover;
}
#스트로베리치즈홀릭 {
    background: url(img/mega_스트로베리치즈홀릭.jpg) no-repeat center / cover;
}

#퐁크러쉬플레인 {
    background: url(img/mega_퐁크러쉬플레인.jpg) no-repeat center / cover;
}
#퐁크러쉬딸기 {
    background: url(img/mega_퐁크러쉬딸기.jpg) no-repeat center / cover;
}
#퐁크러쉬바나나 {
    background: url(img/mega_퐁크러쉬바나나.jpg) no-repeat center / cover;
}
#플레인요거트스무디 {
    background: url(img/mega_플레인요거트스무디.jpg) no-repeat center / cover;
}

#딸기요거트스무디 {
    background: url(img/mega_딸기요거트스무디.jpg) no-repeat center / cover;
}
#망고요거트스무디 {
    background: url(img/mega_망고요거트스무디.jpg) no-repeat center / cover;
}


/*에이드_주스*/
#레몬에이드 {
    background: url(img/mega_레몬에이드.jpg) no-repeat center / cover;
}
#블루레몬에이드 {
    background: url(img/mega_블루레몬에이드.jpg) no-repeat center / cover;
}
#자몽에이드 {
    background: url(img/mega_자몽에이드.jpg) no-repeat center / cover;
}
#메가에이드 {
    background: url(img/mega_메가에이드.jpg) no-repeat center / cover;
}

#청포도에이드 {
    background: url(img/mega_청포도에이드.jpg) no-repeat center / cover;
}
#매직에이드\(블루\) {
    background: url(img/mega_매직에이드\(블루\).jpg) no-repeat center / cover;
}
#매직에이드\(핑크\) {
    background: url(img/mega_매직에이드\(핑크\).jpg) no-repeat center / cover;
}
#체리콕 {
    background: url(img/mega_체리콕.jpg) no-repeat center / cover;
}

#라임모히또 {
    background: url(img/mega_라임모히또.jpg) no-repeat center / cover;
}
#청포도모히또 {
    background: url(img/mega_청포도모히또.jpg) no-repeat center / cover;
}
#자몽모히또 {
    background: url(img/mega_자몽모히또.jpg) no-repeat center / cover;
}
#딸기주스 {
    background: url(img/mega_딸기주스.jpg) no-repeat center / cover;
}

#초코바나나주스 {
    background: url(img/mega_초코바나나주스.jpg) no-repeat center / cover;
}
#오곡바나나주스 {
    background: url(img/mega_오곡바나나주스.jpg) no-repeat center / cover;
}
#딸기바나나주스 {
    background: url(img/mega_딸기바나나주스.jpg) no-repeat center / cover;
}

/*Tea*/
#hot_녹차 {
    background: url(img/mega_\(HOT\)녹차.jpg) no-repeat center / cover;
}
#hot_페퍼민트 {
    background: url(img/mega_\(HOT\)페퍼민트.jpg) no-repeat center / cover;
}
#hot_캐모마일 {
    background: url(img/mega_\(HOT\)캐모마일.jpg) no-repeat center / cover;
}
#hot_얼그레이 {
    background: url(img/mega_\(HOT\)얼그레이.jpg) no-repeat center / cover;
}

#hot_자몽차 {
    background: url(img/mega_\(HOT\)자몽차.jpg) no-repeat center / cover;
}
#hot_유자차 {
    background: url(img/mega_\(HOT\)유자차.jpg) no-repeat center / cover;
}

#ice_녹차 {
    background: url(img/mega_\(ICE\)녹차.jpg) no-repeat center / cover;
}
#ice_페퍼민트 {
    background: url(img/mega_\(ICE\)페퍼민트.jpg) no-repeat center / cover;
}
#ice_캐모마일 {
    background: url(img/mega_\(ICE\)캐모마일.jpg) no-repeat center / cover;
}

#ice_얼그레이 {
    background: url(img/mega_\(ICE\)얼그레이.jpg) no-repeat center / cover;
}
#ice_자몽차 {
    background: url(img/mega_\(ICE\)자몽차.jpg) no-repeat center / cover;
}

#ice_유자차 {
    background: url(img/mega_\(ICE\)유자차.jpg) no-repeat center / cover;
}
#복숭아아이스티 {
    background: url(img/mega_복숭아아이스티.jpg) no-repeat center / cover;
}


/*커피콜드브루*/
#hot_콜드브루오리지널 {
    background: url(img/mega_\(HOT\)콜드브루오리지널.jpg) no-repeat center / cover;
}
#hot_콜드브루라떼 {
    background: url(img/mega_\(HOT\)콜드브루라떼.jpg) no-repeat center / cover;
}
#ice_콜드브루오리지널 {
    background: url(img/mega_\(ICE\)콜드브루오리지널.jpg) no-repeat center / cover;
}
#ice_콜드브루라떼 {
    background: url(img/mega_\(ICE\)콜드브루라떼.jpg) no-repeat center / cover;
}

#콜드브루상품용 {
    background: url(img/콜드브루상품용.jpg) no-repeat center / cover;
}
#hot_콜드브루디카페인 {
    background: url(img/mega_\(HOT\)콜드브루디카페인.jpg) no-repeat center / cover;
}
#hot_콜드브루디카페인라떼 {
    background: url(img/mega_\(HOT\)콜드브루디카페인라떼.jpg) no-repeat center / cover;
}
#ice_콜드브루디카페인 {
    background: url(img/mega_\(ICE\)콜드브루디카페인.jpg) no-repeat center / cover;
}

#ice_콜드블루디카페인라떼 {
    background: url(img/mega_\(ICE\)콜드브루디카페인라떼.jpg) no-repeat center / cover;
}
#콜드브루디카페인상품용 {
    background: url(img/콜드브루디카페인상품용.jpg) no-repeat center / cover;
}

/*Beverage*/
#hot_녹차라떼 {
    background: url(img/mega_\(HOT\)녹차라떼.jpg) no-repeat center / cover;
}
#핫초코 {
    background: url(img/mega_핫초코.jpg) no-repeat center / cover;
}
#hot_메가초코 {
    background: url(img/mega_\(HOT\)메가초코.jpg) no-repeat center / cover;
}
#hot_민트크림초코 {
    background: url(img/mega_\(HOT\)민트크림초코.jpg) no-repeat center / cover;
}
#hot_로얄밀크티라떼 {
    background: url(img/mega_\(HOT\)로얄밀크티.jpg) no-repeat center / cover;
}
#hot_고구마라떼 {
    background: url(img/mega_\(HOT\)고구마라떼.jpg) no-repeat center / cover;
}
#hot_곡물라떼 {
    background: url(img/mega_\(HOT\)곡물라떼.jpg) no-repeat center / cover;
}
#ice_딸기라떼 {
    background: url(img/mega_\(ICE\)딸기라떼.jpg) no-repeat center / cover;
}

#ice_녹차라떼 {
    background: url(img/mega_\(ICE\)녹차라떼.jpg) no-repeat center / cover;
}
#아이스초코 {
    background: url(img/mega_아이스초코.jpg) no-repeat center / cover;
}
#ice_메가초코 {
    background: url(img/mega_\(ICE\)메가초코.jpg) no-repeat center / cover;
}
#ice_민트크림초코 {
    background: url(img/mega_\(ICE\)민트크림초코.jpg) no-repeat center / cover;
}

#ice_고구마라떼 {
    background: url(img/mega_\(ICE\)고구마라떼.jpg) no-repeat center / cover;
}
#ice_곡물라떼 {
    background: url(img/mega_\(ICE\)곡물라떼.jpg) no-repeat center / cover;
}
#ice_로얄밀크티라떼 {
    background: url(img/mega_\(ICE\)로얄밀크티라떼.jpg) no-repeat center / cover;
}
#ice_오레오초코라떼 {
    background: url(img/mega_\(ICE\)오레오초코라떼.jpg) no-repeat center / cover;
}

#hot_토피넛라떼 {
    background: url(img/mega_\(HOT\)토피넛라떼.jpg) no-repeat center / cover;
}
#ice_토피넛라떼 {
    background: url(img/mega_\(ICE\)토피넛라떼.jpg) no-repeat center / cover;
}
