
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.Icon{
    margin-top: 3vh;
    cursor: pointer;
    height: 10vh;
    width: auto;
}


.first_page_container {
    text-align: center;
    background-image: url(./img/firstPage1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    width: 40vw;
    height: 100vh;
}

.mait_burger {
    font: 600 2rem Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #ffffff; 
}

.button_container {
    margin-top: 4vw;
    
}

.order_button {
    font: 500 3vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 200%;
    padding: 1.5vw;
    margin: 1vw 1vw;
    background-color: #004B86;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;    
}


.order_button_takeout {
    font: 500 3vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 200%;
    padding: 1.5vw;
    margin: 1vw 1vw;
    background-color: #004B86;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;    
}



.order_button:hover {
    background-color: #81C7FF; 
}


.order_button_takeout:hover {
    background-color: #81C7FF; 
}

.eathere {
    min-width: 3px;
    min-height: 15px;
    width: 12vmin;
    height: 12vmin;
}

.takeout {
    min-width: 10px;
    min-height: 10px;
    width: 12vmin;
    height: 12vmin;
}