.totalpay {
    font-size: 2em; /* 버튼의 글꼴 크기를 조절합니다. */
    padding: 10px 20px; /* 버튼의 안쪽 여백을 조절합니다. */
}

/* ShoppingBag.css */
.paybtn {
    font-size: 2em; /* 버튼의 글꼴 크기를 조절합니다. */
    padding: 10px 20px; /* 버튼의 안쪽 여백을 조절합니다. */
}
