.nav-item button {
    background-color: #007bff00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font: 400 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0s; 
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    
  }
  
  .nav-item button:hover {
    background-color: #001B62; 
    color: #ffffff;
  }

  .chatbot button {
    background-color: #001c6217; /* 버튼 배경색 */
    color: #001c62; /* 텍스트 색상 */
    border: none;
    padding: 10px 20px; 
    font: 480 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer; 
    border-radius: 25px; 
    text-decoration: none; /* 밑줄 제거 */
    display: inline-block; /* 버튼을 인라인 블록 요소로 표시합니다. */

  }

  .chatbot button:hover{
    background-color: #001c62; 
    color: white;
    
  }

  .header {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1788px;
    justify-content: left;
    gap: 10px;
  }
  
  .header-left img {
    width: 90%;
    max-width: 272px;
    height: auto;
  }
  
  .header-right {
    margin-top: 4%;
    display: flex;
    gap: 10px;
  }