.nav-item button {
    background-color: #007bff00;
    color: #454545;
    border: none;
    width: 14vw;
    height: 2.7vw;
    font: 200 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0s; 
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav-item button:hover {
    font: 400 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: #001B62; 
    color: #ffffff;
  }


  .nav-item2 button {
    background-color: #007bff00;
    color: #000000;
    border: none;
    width: 10vw;
    height: 2.7vw;
    font: 200 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0s; 
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav-item2 button:hover {
    font: 400 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: #001B62; 
    color: #ffffff;
  }

  .chatbot {
    position: absolute; /* 절대 위치 설정 */
    right: 0; /* 오른쪽 끝으로 이동 */
    text-decoration: none; 
    margin-right: 3vw; }


  .chatbot button {
    background-color: #001c6217; 
    color: #001c62; 
    width: 17vw;
    height: 4vw;
    border: none;
    font: 500 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer; 
    border-radius: 1.7vw; 
    text-decoration: none; 
    display: flex; /* flex 디스플레이를 사용 */
  justify-content: center; /* 가로 방향의 중앙 정렬 */
  align-items: center; /* 세로 방향의 중앙 정렬 */
  text-align: center;
  }

  .chatbot button span{
    font: 400 1vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .chatbot img{
    margin: 0.3vw;
  }

  .chatbot button:hover{
    font: 480 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: #001c62; 
    color: white;
    
  }

  .header {
    margin-top: 1vw;
    margin-left : 1vw;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
  }
  
  .header-left img {
    width: 7vw;
    height: auto;
    margin-right:2vw;
    margin-left: 2vw;
    cursor: pointer; 

  }
  
  .header-right {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .chatdog {
    width: 2.5vw;
    height: auto;
  }
