.main_cons {
  height: 88vh; /* 전체 화면 높이 */
  position: relative; 

  margin-top: 0.2vw;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mlogo {
  cursor: pointer;
  width: 20vw;
  height: auto;
  margin: auto;
  display: block;
  filter: drop-shadow(3px 3px 2px rgb(194, 194, 194));
}

.main-word {
  margin-top: 0.5vw;
  margin-left: 70px;
  font: 200 2.3vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.5;
}

.main-word span{
  font: 440 3vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  color: #001B62; 
}



.contents {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  gap : 1vw;
}


.mcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  text-decoration: none;
  text-align: center;
  margin-right: 0.3vw;
  line-height: 1.5;
}

.mcon1 {
  text-decoration: none; 
  color: #000000;
}  

.divider {
  background-color: #000000;
  height: 1px;
  width: 80%;
}

.mcon .main-button {
  border: none;
  background-color: #ffffff;
  font: 440 2.5vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  color: #001B62; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17vw;
  height: 22vh;
  transition: background-color 0s; 
  border-radius: 40px;
  text-decoration: none;
  filter: drop-shadow(0px 3px 2px rgb(181, 181, 181));
}

.mcon .main-button:hover {
  background-color: #001B62; 
  color: #ffffff;
  font: 400 2.7vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.news {
  border: 1px solid rgb(210, 210, 210);
  width: 40vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 3vw;
  display: flex;
}

.news-title {
  font: 420 2vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  color: #000000;
  margin-top: 1vw;
}

.news-description {
  margin-top: 0.5vw;
  font: 400 0.9vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
}


.news-inner {
  line-height: 1.2;
  margin-top: 0.7vw;
  text-decoration: none; 
  margin-bottom: 1vw;
}

.news-inner .button {
  background-color: #bdbdbd00;
  color: #001B62; 
  border: none; 
  padding: 0.6vw; 
  font: 400 1rem Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer; 
  transition: background-color 0s; 
  border-radius: 2vw; 
  text-decoration: none; 
  display: inline-block;
}

.news-inner .button:hover {
  background-color: #001B62;
  color: #ffffff;
  font: 400 1.1rem Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.Main-divider {
  background-color: #8383836f;
  height: 1px;
  width: 90%;
}

.category-name {
  font-weight: bold; /* categoryNames를 굵게 표시 */
}

.truncate-text {
  color: black; /* truncateText의 결과를 검정색으로 표시 */
}


.recommended-news {

  margin-top: 1.3vw; /* 추천 뉴스와 이전 요소 간의 간격을 줄이기 위해 추가 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font: 400 2rem Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.recommended-news-inner {
  margin-bottom: 0.5vw; /* 추천 뉴스 제목과 뉴스 기사 간의 간격을 조정 */
}

.recommended-news .button{
  background-color: #bdbdbd00;
  color: #001B62; 
  border: none; 
  padding: 0.6vw; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0s; 
  border-radius: 20px; 
  text-decoration: none; 
  display: inline-block;
}

.recommended-news .button:hover {
  background-color: #001B62;
  color: #ffffff;
  font: 400 1rem Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 17px;

}