.main_container {
    background-color: #fff;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .main-1 {
    margin-top: 40px;
    margin-left: 70px;
    font: 440 2.7vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #001B62;
  }
  
  .main-2 {
    margin-top: 20px;
    margin-left: 70px;
    font: 200 2.3vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #000000;
  }
  
  
  
  
  .divider {
    background-color: #d1d1d1;
    height: 1px;
    width: 100%;
  }
  
  .main-content {
    margin: 30px 100px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .main-con {
    display: flex;
    gap: 50px;
    text-decoration: none;
    text-align: center;
  }

  .main-con1 {
    text-decoration: none; /* 밑줄 제거 */
    font: 440 3.4vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #000000;


  }
  
  
  .divider {
    background-color: #9b9b9b;
    height: 1px;
    margin-top: 28px;
    width: 80%;
  }
  
  .main-con .main-button {
    border: 1px solid #001B62;
    color: #000000; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 50vh;
    transition: background-color 0s; 
    border-radius: 20px;
    text-decoration: none;
    line-height: 1.5;
  }
  
  .main-con .main-button:hover {
    background-color: #001B62; /* 호버 시 배경색 변경 */
    color: #ffffff;
  }
  
  .news {
    border: 1px solid rgb(156, 156, 156);
    width: 30vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
  }
  
  .news-title {
    font: 440 3.3vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: #000000;
  }
  
  .news-description {
    margin-top: 20px;
    font: 200 1.6vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .news-inner {
    line-height: 3;
    margin-top: 30px;
    text-decoration: none; 
    font: 100 2.5vw Gmarket Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .news-inner .button {
    background-color: #bdbdbd00;
    color: #001B62; 
    border: none; 
    padding: 10px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0s; 
    border-radius: 20px; 
    text-decoration: none; 
    display: inline-block;
  }
  
  .news-inner .button:hover {
    background-color: #001B62;
    color: #ffffff;
  }
